.icon-wrapper {
  .edit-icon {
    background-image: url('~src/assets/icons/edit_icon.svg');
  }
}
.title-wrapper {
  .mat-subheading-1 {
    text-align: center;
  }
}

.edit-form-container {
  padding: 10px 16px;
}
