<div class="main">
  <p>{{dto.title}}</p>
  <hr>
  <div class="row">
    <div class="col-8 image">
      <img [src]="dto.cloudUrl" [alt]="dto.title">
    </div>
    <div class="col-4">

    </div>
  </div>
  <div class="settings row">
    <mat-tab-group>
      <mat-tab label="Basic Info">
        <div class="row">
          <div>
            <input matInput placeholder="Title" [(ngModel)]="dto.title">
          </div>
          <div>
              <textarea matInput placeholder="Description"  [(ngModel)]="dto.description"
                        matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
          </div>
          <div>
            <input matInput placeholder="Tags" [(ngModel)]="dto.tags">
          </div>
          <div class="category">
            <label for="category">Category:</label>
            <mat-select id="category" placeholder="Category" [(ngModel)]="selectedCategory" >
              <mat-option [value]="item" *ngFor="let item of categories">
                {{item.name}}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Statistics">
        <div class="row">
        </div>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
<div class="ctrl row">
  <button class="btn-cancel" mat-button (click)="cancel()">Cancel</button>
  <button class="btn-confirm" mat-button  cdkFocusInitial (click)="save()">Save</button>
</div>
