<div class="content-container">
  <div class="title-wrapper">
    <div class="content">
      CREATE NEW PLAYLIST
    </div>
  </div>
  <div class="modal-container">
    <mat-form-field>
      <input matInput placeholder="Playlist Name" [(ngModel)]="dto.name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="today" [max]="dto.endDate || maxDate"  [matDatepicker]="startPicker" placeholder="Choose a start date" [(ngModel)]="dto.startDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [min]="dto.startDate || today" [matDatepicker]="endPicker" placeholder="Choose an end date" [(ngModel)]="dto.endDate" >
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <label class="group-title">Select groups</label>
    <div class="groups">
      <mat-checkbox *ngFor="let group of groups" (change)="toggle(group)">
        <div class="box-container">
          <div class="item-box info">
            <div class="item title">{{group.name}}</div>
          </div>
        </div>
      </mat-checkbox>
    </div>

  </div>
  <div class="ctrl row">
    <button class="btn-cancel" mat-button (click)="cancel()">Cancel</button>
    <button class="btn-confirm" mat-button [disabled]="!valid(dto)" (click)="save(dto)" cdkFocusInitial>Save</button>
  </div>

</div>
