<div class="asset-container video-container" *ngIf="selectedFilter != 'Unprocessed'; else unprocessedView">
  <div *ngFor="let item of videos" class="asset-wrapper">
    <a class="asset-link" [routerLink]="'/dashboard/assets/videos/details'" [queryParams]="{vid: item.visibleId}">
      <div class="thumbnail" [ngStyle]="{'background-image': 'url(' + item.mainThumbnail + ')'}"></div>
      <div class="details">
        <div class="icon">{{item.title.charAt(0)}}</div>
        <div class="meta-container">
          <div class="asset-title">{{item.title}}</div>
          <div class="asset-desc">{{item.description}}</div>
        </div>
      </div>
    </a>
  </div>
</div>
<ng-template #unprocessedView>
  <div class="item-container">
    <app-simple-table
      [altRowColors]="true"
      [altRowMonoColor]="true"
      [tableData]="tableData"
      [tableRowTemplate]="unprocessedVideosTemplate"
      [icon]="'model_training'">
    </app-simple-table>
    <ng-template #unprocessedVideosTemplate let-video="item">
      <td>{{video.title || 'n/a'}}</td>
      <td>{{video.description || 'n/a'}}</td>
      <td>
        <div class="item-box time">
          <div class="item">{{video.createdOn | date:'MMM dd, yyyy'}}</div>
        </div>
      </td>
      <td class="text-right">
        <button class="btn btn-link btn-warning btn-just-icon edit" matTooltip="process"
                [matTooltipPosition]="'above'" (click)="process(video)">
          <i class="material-icons">swap_vertical_circle</i>
        </button>
        <button class="btn btn-link btn-danger btn-just-icon remove" matTooltip="remove"
                [matTooltipPosition]="'above'" (click)="removeItem(video)">
          <i class="material-icons">delete</i>
        </button>
      </td>
    </ng-template>
  </div>
</ng-template>

